<a href="https://colab.research.google.com/github/Paarz/Python-Projects/blob/main/Spam_Mail_Recognition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import string
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm 
from sklearn.metrics import accuracy_score
import numpy as np

In [ ]:
df = pd.read_csv('spam.csv',encoding='latin-1')
df.head()

In [ ]:
df.size

27860

In [ ]:
df.rename(columns = {'v1':'Label'}, inplace = True)
df.rename(columns = {'v2':'Mail_Content'}, inplace = True)
df

In [ ]:
x = df['Mail_Content']
y = df["Label"]
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
cv = CountVectorizer()
x_train_features = cv.fit_transform(x_train)
x_train_features
pd.DataFrame(print(x_train_features))

  (0, 7633)	1
  (0, 4190)	1
  (0, 3507)	1
  (0, 4775)	1
  (0, 7185)	1
  (0, 2159)	1
  (0, 5804)	1
  (0, 6937)	1
  (1, 3507)	1
  (1, 7679)	1
  (1, 3949)	1
  (1, 6899)	1
  (1, 1720)	1
  (1, 5135)	1
  (1, 2932)	1
  (1, 2450)	2
  (1, 3626)	1
  (1, 4274)	1
  (1, 4649)	1
  (1, 7182)	1
  (1, 2883)	1
  (2, 6899)	1
  (2, 2932)	1
  (2, 5392)	1
  (2, 7671)	1
  :	:
  (4455, 924)	1
  (4455, 3745)	1
  (4455, 6242)	1
  (4455, 7474)	1
  (4455, 1576)	1
  (4455, 4925)	1
  (4455, 6781)	1
  (4455, 7334)	1
  (4455, 3168)	1
  (4455, 7394)	1
  (4455, 3140)	1
  (4455, 5949)	1
  (4455, 6819)	1
  (4455, 4555)	1
  (4455, 2800)	1
  (4455, 948)	1
  (4455, 7104)	1
  (4455, 6340)	1
  (4455, 6661)	1
  (4455, 6878)	1
  (4455, 2442)	1
  (4456, 5881)	1
  (4456, 6768)	1
  (4456, 4894)	1
  (4456, 5760)	1

Empty DataFrame
Columns: []
Index: []

In [ ]:
model = svm.SVC()
model.fit(x_train_features,y_train)

In [ ]:
y_pred = cv.transform(x_test)
pd.DataFrame(print(y_pred))

  (0, 1528)	1
  (0, 2121)	1
  (0, 3140)	1
  (0, 3291)	1
  (0, 3400)	1
  (0, 4391)	1
  (0, 4488)	1
  (0, 4649)	2
  (0, 4893)	1
  (0, 5558)	1
  (0, 5949)	1
  (0, 6781)	1
  (0, 6810)	1
  (0, 6868)	1
  (0, 7416)	1
  (0, 7452)	1
  (0, 7666)	2
  (1, 1193)	1
  (1, 2805)	1
  (1, 4004)	1
  (1, 4190)	1
  (1, 4704)	1
  (1, 4771)	1
  (1, 6791)	1
  (1, 7310)	1
  :	:
  (1114, 1595)	1
  (1114, 1739)	1
  (1114, 2099)	1
  (1114, 3016)	1
  (1114, 3119)	1
  (1114, 3371)	1
  (1114, 4114)	1
  (1114, 4391)	1
  (1114, 4807)	1
  (1114, 4869)	1
  (1114, 5182)	1
  (1114, 5202)	1
  (1114, 5392)	1
  (1114, 5820)	1
  (1114, 5862)	1
  (1114, 5975)	1
  (1114, 6022)	1
  (1114, 6457)	1
  (1114, 6750)	1
  (1114, 6791)	1
  (1114, 6899)	2
  (1114, 7079)	1
  (1114, 7330)	1
  (1114, 7447)	1
  (1114, 7617)	1

Empty DataFrame
Columns: []
Index: []

In [ ]:
#to find the accuracy of the model
print("Accuracy: {}".format(model.score(y_pred,y_test)))

Accuracy: 0.9838565022421525